*{ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
}

/*@font-face {
    font-family: "Inter";
    src: local("Inter Regular"), local("Inter-Regular"),
      url("Fonts/static/Inter-Regular.ttf");
}*/

a{
    /*color: rgba(0, 0, 0, 1);*/
    text-decoration: none;
    font-size: xx-large;
    transition: color 0.4s ease;
}

a:hover{
    color:#8360c3;     
}

h1{
    margin-top: 150px;
}

/*----------------------header--------------------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(115, 132, 142, 0.665);
    align-items: center;
    border: rgba(115, 132, 142, 0.750) 3px solid;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 2;
}

.header a{
    border: black 2px solid;
    padding: 5px;
    background-color: gray;
}

.header a:hover{
    background-color:rgb(169, 169, 169);
}

.header img{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 8em;
    margin-left: 20px;
    opacity: 0.8;
}

nav ul li{
    display: inline; 
    margin-right: 3em;
    justify-content:flex-end;
}

nav ul li a{
    /*color: rgba(0, 0, 0, 1);*/ 
    text-decoration: none;
    font-size: xx-large;
}

main{
    padding-top: 50px;
}

/*------------Burger menu--------------*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  display: none;

  /*-webkit-user-select: none;
  user-select: none;*/
}

/*Burger menu "checkbox"*/
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /*hides the checkbox*/
    z-index: 2; /*makes it so the checkbox is on a layer above the menu icon*/

    /*-webkit-touch-callout: none;*/
}

/*Burger menu bars*/
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px; /*Span size, allows it to be 3 lines*/
    margin-bottom: 5px;
    position: relative;

    background: #232323;
    border-radius: 3px;

    z-index: 1; 

    transform-origin: 4px 0px; /*Sets the origin point of the future transformation*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease; /*Allows for the smooth transformation of the burger menu's three bars. 
                                  Controls speed and size of the bars' transition into the crossmark, as well as the transition of the color*/
}

/*Set the transformation origin of the first bar*/
#menuToggle span:first-child{ 
    transform-origin: 0% 0%;
}

/*Set the transformation origin of the third bar*/
#menuToggle span:nth-last-child(2){  /*span:nth-last-child(2) allows for the selection of the second to last child in the parent, which is a span*/
    transform-origin: 0% 100%;
}

 /*Rotates and moves the bars, then change their color*/
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
}

/*Hides the bar in the middle*/
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*Rotates and moves the last bar in the opposite direction to form the crossmark*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute; /*Locks the menu to the same position*/
    width: 320px;
    height: 320px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 110px;
    background: rgba(0, 0, 0, 0.8);

    transform-origin: 0% 0%;
    /*transform: translate(0%, -100%);*/ /*Changes the direction the box slides in: (-100%, 0) for a slide from the left, (0, -100%) slides from the top*/
    border-radius: 0 0 300px 0px;/*Makes the box into a bottom-right quarter-circle*/
    transform: rotate(-90deg); /*Rotate it in -90 degrees from the top*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 10px 0;
}

#menu li a{
    color: white;
}

#menu li a:hover{
    color:#8360c3;
}

/*Makes the menu slide in*/
#menuToggle input:checked ~ ul
{
  transform: none;
}

/*-----------------body------------------*/

.parallax{
    background-image: url(Image/marblebg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.imgtp{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    font-size: x-large;
    font-weight: bold; 
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.describeImage{
    display: inline;
    width: 10em;
    opacity: 0.87;
}

.sec2{
    width: 500px;
    height: 300px;
    background: linear-gradient(90deg,#8360c3,rgb(46, 189, 144));
    border-radius: 43% 57% 53% 47% / 46% 47% 53% 54%;
    opacity: 0.8;
    border: red 2px dashed;
    box-shadow: 4px 4px 15px rgba(46, 186, 144, 0.8);
    margin-bottom: 50px;
}

button{
    padding: 3px 10px;
    background-color: rgba(100, 115, 123, 0.744);
    box-shadow: 4px 4px 20px rgba(100, 115, 123, 0.644);
}

button:hover{
    background-color: rgba(54, 64, 69, 0.85);
    color:#8360c3;
}

button a:focus{
    background-color: rgba(14, 170, 248, 0.85);
}

button a:active{
    color:rgba(115, 132, 141, 0.781);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*fr s'adapte à la taille du container, 1fr = 1/c de l'écran(c nombre de colums), s'adapte automatiquement*/
    grid-template-rows: 50px 100px 200px;
    gap: 10px;
}

.box{
    border: 1px solid black;
}

.trickyGrid{
    margin-top: 50px;
}

.trickyContainer{
    display: grid;
    gap: 10px;
    grid-template-rows: 100px 100px 100px 100px 100px 500px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
}

.trickyBox{
    border: 3px solid black;
    border-radius: 10px;
}

/*Boites du premier exercice*/

.one{
    grid-column: 1/4;
    grid-row: 1/2;
}

.two{
    grid-column: 1/3;
    grid-row: 2/3;
}

.three{
    grid-column: 3/4;
    grid-row: 2/4;
}

.four{
    grid-column: 1/2;
    grid-row: 3/4;
}

.five{
    grid-column: 2/3;
    grid-row: 3/4;
}

.six{
    grid-column: 1/3;
    grid-row: 4/5;
}

.seven{
    grid-column: 3/4;
    grid-row: 4/5;
}

.eight{
    grid-column: 1/4;
    grid-row: 5/6;
}

/*Boites du deuxième exercice*/

.secOne{
    grid-column: 1/4;
    grid-row:1/2;
}

.secTwo{
    grid-column: 1/2;
    grid-row: 2/4;
}

/*.secThree{
    grid-column: 2/3;
    grid-row: 2/3;
}*/

/*.secFour{
    grid-column: 3/4;
    grid-row: 2/3;
}*/

.secFive{
    grid-column: 2/4;
    grid-row: 3/4;
}

.secSix{
    grid-column: 1/4;
    grid-row: 4/5;
}

/*.secSeven{
    grid-column: 1/2;
    grid-row: 5/6;
}*/

.secEight{
    grid-column: 2/4;
    grid-row: 5/6;
}

.secNine{
    grid-column: 1/4;
}

.recursiveContainer{
    display: grid;
    gap: 10px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5px;
}

.recBox{
    border: 3px solid black;
    border-radius: 10px;
}

.recThree{
    grid-column: 1/2;
}

.recFour{
    grid-column: 2/3;
}

.recFive{
    grid-column: 3/4;
}

.disLogo{
    width:40%;
}

.googLogo{
    width: 40%;
}

.tabTest{
    margin-top: 50px;
    border-collapse: collapse;
    margin: auto; /*Permet de centrer automatiquement*/
    margin-bottom: 100px;
}

.tabTest tr td, th{
    border: 1px solid black;
    font-size: x-large;
    padding: 10px;
    text-align: center;
}

#latest form{
    margin-top: 80px;
}

/*Figures*/
/*
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}
  figure > * {
    grid-area: 1/1;
    transition: .4s;
}
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}

  figure:hover figcaption{
    --_i: 0%;
}

  figure:hover img {
    transform: scale(1.2);
}

  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
}
  
  .cards {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
}

*/

/*-------------------Target test-----------------*/
#targDisplayImg{
    display: none;
}

#targDisplayImg:target{
    display: block;
}

/*--------------------Popup--------------------*/
.popUpArea{
    margin-top: 80px;
}

.box{
    margin: 0 auto;
    text-align: center;
    background: rgba(0,0,0,0.4);
    width: 30%;
    padding: 35px;
}

.popUpButton{
    border: 2px solid #06D85F;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px;
    color: black;
}

.popUpButton:hover{
    background: rgba(255, 0, 0, 0.431);
    color: black;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popUp{
    margin: 200px auto;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.content {
    max-height: 30%;
    overflow: auto;
  }


/*----------------------Media Queries----------------------*/

@media screen and (max-width: 800px) { /*Que pour les écrans avec MAX 800px. Tablette: 800px, Mobile: 425px*/
    .header{
        display: none;
    }

    #menuToggle{
        display: block;
    }

    .describeImage{
        max-width: 6em;
    }

    .imgtp div p{
        font-size: small;
    }
}