*{ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
}

/*@font-face {
    font-family: "Inter";
    src: local("Inter Regular"), local("Inter-Regular"),
      url("Fonts/static/Inter-Regular.ttf");
}*/

a{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: xx-large;
}

a:hover{
    color:#8360c3;     
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(115, 132, 142, 0.665);
    align-items: center;
    border: rgba(115, 132, 142, 0.750) 3px solid;
}

.header a{
    border: black 2px solid;
    padding: 5px;
    background-color: gray;
}

.header a:hover{
    background-color:rgb(169, 169, 169);
}

.header img{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 8em;
    margin-left: 20px;
    opacity: 0.8;
}

nav ul li{
    display: inline; 
    margin-right: 3em;
    justify-content:flex-end;
}

nav ul li a{
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
    font-size: xx-large;
}

body{
    background-image: url(Image/marblebg2.jpg);
    background-image: cover;
}

.imgtp{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    font-size: x-large;
    font-weight: bold; 
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.describeImage{
    display: inline;
    width: 10em;
    opacity: 0.87;
}

.sec2{
    width: 500px;
    height: 300px;
    background: linear-gradient(90deg,#8360c3,rgb(46, 189, 144));
    border-radius: 43% 57% 53% 47% / 46% 47% 53% 54%;
    opacity: 0.8;
    border: red 2px dashed;
    box-shadow: 4px 4px 15px rgba(46, 186, 144, 0.8);
    margin-bottom: 50px;
}

button{
    padding: 3px 10px;
    background-color: rgba(100, 115, 123, 0.744);
    box-shadow: 4px 4px 20px rgba(100, 115, 123, 0.644);
}

button:hover{
    background-color: rgba(54, 64, 69, 0.85);
    color:#8360c3;
}

button a:focus{
    background-color: rgba(14, 170, 248, 0.85);
}

button a:active{
    color:rgba(115, 132, 141, 0.781);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*fr s'adapte à la taille du container, 1fr = 1/c de l'écran(c nombre de colums), s'adapte automatiquement*/
    grid-template-rows: 50px 100px 200px;
    gap: 10px;
}

.box{
    border: 1px solid black;
}

.trickyGrid{
    margin-top: 50px;
}

.trickyContainer{
    display: grid;
    gap: 10px;
    grid-template-rows: 100px 100px 100px 100px 100px 500px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
}

.trickyBox{
    border: 3px solid black;
    border-radius: 10px;
}

/*Boites du premier exercice*/

.one{
    grid-column: 1/4;
    grid-row: 1/2;
}

.two{
    grid-column: 1/3;
    grid-row: 2/3;
}

.three{
    grid-column: 3/4;
    grid-row: 2/4;
}

.four{
    grid-column: 1/2;
    grid-row: 3/4;
}

.five{
    grid-column: 2/3;
    grid-row: 3/4;
}

.six{
    grid-column: 1/3;
    grid-row: 4/5;
}

.seven{
    grid-column: 3/4;
    grid-row: 4/5;
}

.eight{
    grid-column: 1/4;
    grid-row: 5/6;
}

/*Boites du deuxième exercice*/

.secOne{
    grid-column: 1/4;
    grid-row:1/2;
}

.secTwo{
    grid-column: 1/2;
    grid-row: 2/4;
}

/*.secThree{
    grid-column: 2/3;
    grid-row: 2/3;
}*/

/*.secFour{
    grid-column: 3/4;
    grid-row: 2/3;
}*/

.secFive{
    grid-column: 2/4;
    grid-row: 3/4;
}

.secSix{
    grid-column: 1/4;
    grid-row: 4/5;
}

/*.secSeven{
    grid-column: 1/2;
    grid-row: 5/6;
}*/

.secEight{
    grid-column: 2/4;
    grid-row: 5/6;
}

.secNine{
    grid-column: 1/4;
}

.recursiveContainer{
    display: grid;
    gap: 10px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5px;
}

.recBox{
    border: 3px solid black;
    border-radius: 10px;
}

.recThree{
    grid-column: 1/2;
}

.recFour{
    grid-column: 2/3;
}

.recFive{
    grid-column: 3/4;
}

.disLogo{
    width:40%;
}

.googLogo{
    width: 40%;
}

.tabTest{
    margin-top: 50px;
    border-collapse: collapse;
    margin: auto; /*Permet de centrer automatiquement*/
}

.tabTest tr td, th{
    border: 1px solid black;
    font-size: x-large;
    padding: 10px;
    text-align: center;
}